
kursinis\.bcf

kursinis\.pdf

kursinis\.run\.xml

kursinis\.synctex\.gz

kursinis\.tex

Makefile

ZKS1\.aux

ZKS1\.fdb_latexmk

ZKS1\.fls

ZKS1\.log

ZKS1\.pdf

ZKS1\.run\.xml

ZKS1\.synctex\.gz

ZKS1\.toc
